[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
whitenoise = "*"
gunicorn = "*"
django-cloudinary-storage = "*"
cloudinary = "*"
djangorestframework = "*"
dj-database-url = "*"
django-environ = "*"
djangorestframework-simplejwt = "*"
django-cors-headers = "*"
psycopg2 = "*"
pillow = "*"

[dev-packages]

[requires]
python_version = "3.9"
