main{
  min-height: 88vh;
}
.rating span{
  margin : 0.1rem;
}
h3{
  padding: 1rem 0;
}
#addtocart{
  width:100%;
}
h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}
h2{
  font-size: 1.4rem;
  padding: 0.5rem 0;
}

#checkout{
  width : 100%;
}

#create{
  float: right;
}
